/*再検索*/
.searchBox2 {
  width: 100vw;
  height: 38px;
  top: 0px;
  position: sticky;
  z-index: 1;
  background-color: black;
  color: white;
  display: inline-block;
  text-align: center;
}

.search-button {
  width: 100px;
  height: 32px;
  background-color: #ff6e6e;
  border: 3px solid #ff6e6e;
  color: #fff5f4;
  font-size: 13pt;
  font-weight: 600;
  margin-top: 3px;
}

.search-list-shop {
  margin: 10px auto;
  display: flex;
}

/*詳細条件*/
.add-detailed-search {
  width: 100px;
  height: 300px;
  margin-top: 25px;
  margin-left: 150px;
  border: 5px solid #ff5c5d;
  background-color: #fff5f4;
}

/*検索結果*/
#search-list {
  display: flex;
  position: relative;
  justify-content: center;
  margin-left: -50px;
  flex: 1;
}

.search-result-page {
  position: relative;
  margin-top: 25px;
  font-size: 13pt;
  width: 70%;
  min-width: 653px;
}

/*検索結果 - tab menu*/
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  display: inline-block;
  background: #ff5c5d;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  width: 28%;
}

ul.tabs li.current {
  background: #fff5f4;
  color: #ff5c5d;
}

.tab-content {
  display: none;
  border-left: solid 5px #ff5c5d;
  border-right: solid 5px #ff5c5d;
  border-top: solid 3px #ff5c5d;
  border-bottom: solid 3px #ff5c5d;
}

.tab-content:hover {
  cursor: pointer;
  background-color: #fff5f4;
  transition: all 0.3s ease-out;
  border-bottom: 5px dotted #ff5c5d;
  border-top: 5px dotted #ff5c5d;
}

.tab-content.current {
  display: inherit;
}
/*検索結果 - tab menu終わり*/

/*検索結果*/
.shop-list {
  display: flex;
  height: 320px;
  margin-top: 20px;
}

.textBox {
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
}

.bookmark {
  text-align: right;
  float: right;
  margin-right: 20px;
}

.shop-img {
  width: 20%;
  margin-left: 20px;
}

.shop-img img {
  margin-top: 35px;
  max-width: 100%;
}

.shop-title {
  font-size: 23pt;
  font-weight: 600;
}

.shop-intro {
  font-size: 13pt;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
}

.shop-access {
  font-size: 13pt;
  margin-top: 5pt;
}

/*paging*/
#pagination {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 300px;
}
